<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% if not status %}
    <h3 style="color:red;">Login fail!</h3>
    {% endif %}
    <h2>Login form</h2>
    <form method="post">{% csrf_token %}
        <input type="text" name="username" >
        <input type="password" name="password">
        <input type="submit" value="login">
        <div>
            <ul>
                <li>
                    <span>id : toast</span>
                </li>
                <li>
                    <span>현재 password : {{pw}}</span>
                </li>
            </ul>
        </div>
    </form>
    <button onClick="location.href='/modify'">Password 변경</button>
</body>
</html>